In [2]:
from allensdk.brain_observatory.ecephys.ecephys_project_cache import EcephysProjectCache
import os
from sqlalchemy import delete,insert
from sqlalchemy.orm import sessionmaker

import json
import numpy as np
import pandas as pd
from datetime import date,datetime,timedelta

from sqla_schema import *

import ingest

data_directory = 'C:\\Users\\yoni.browning\\Documents\\DataJoint\\AllenData'
manifest_path = os.path.join(data_directory, "manifest.json")

def query_to_df(Q):
    df = pd.read_sql(Q.statement, Q.session.bind)
    return df

def spike_count(start_trigger,end_trigger,spike_ts):
    count = [None]*len(start_trigger)
    for ii,trigger in enumerate(start_trigger):
        count[ii] = np.sum(np.logical_and(spike_ts>=trigger,spike_ts<end_trigger[ii]))
    return count

In [3]:
engine = ingest.connect_to_db()
S = sessionmaker(engine)()
#Base.metadata.drop_all(engine, tables=(TrialSpikeCount.__table__,))
#Base.metadata.create_all(engine, tables=(TrialSpikeCount.__table__,))

In [ ]:
# Get the unique sessions for which we have spiketimes
unique_sessions = query_to_df(S.query(Session.id).\
            join(SessionProbe).\
            join(Channel).\
            join(Unit).\
            join(UnitSpikeTimes,Unit.id==UnitSpikeTimes.unit_id).group_by(Session.id)).values

In [ ]:
def spike_count(start_trigger,end_trigger,spike_ts):
    count = [None]*len(start_trigger)
    for ii,trigger in enumerate(start_trigger):
        count[ii] = np.sum(np.logical_and(spike_ts>=trigger,spike_ts<end_trigger[ii]))
    return count

for ii,this_session in enumerate(unique_sessions):
    print('Session = ' + str(this_session[0]))
    stim_table = query_to_df(S.query(Session.id.label('session_id'),\
            StimulusPresentation.id.label("stimulus_id"),\
            StimulusPresentation.stop_time,\
            StimulusPresentation.start_time).\
            join(StimulusPresentation).filter(Session.id==int(this_session[0])))

    unit_table =  query_to_df(S.query(Session.id.label('session_id'),\
            Unit.id.label("unit_id"),\
            UnitSpikeTimes.spike_times).join(SessionProbe).\
            join(Channel).join(Unit).\
            join(UnitSpikeTimes,Unit.id==UnitSpikeTimes.unit_id).filter(Session.id==int(this_session[0])))


    duration = stim_table.stop_time-stim_table.start_time

    for ii,row in unit_table.iterrows():
        print('Unit  = ' + str(row.unit_id) + ' is ' +  str(ii) + ' of ' + str(len(unit_table)) ) 
        count = spike_count(stim_table.start_time,stim_table.stop_time,np.array(row.spike_times))
        this_df = pd.DataFrame(data = \
                               {'unit_id':int(row.unit_id),\
                                'stimulus_id':np.array(stim_table.stimulus_id.values).astype(int),\
                                'spike_count':count,\
                                'spike_rate':np.divide(count,duration)})
        this_df.to_sql('trial_spike_count', engine,index = False, if_exists='append')
    S.commit()

In [8]:
query_to_df(S.query(TrialSpikeCount.spike_count,StimulusPresentation.stimulus_type_id).\
            join(StimulusPresentation).\
            filter(TrialSpikeCount.unit_id ==950907205 ))

       spike_count  stimulus_type_id
0                2                 1
1              377                 0
2                7                 7
3                8                 7
4                6                 7
...            ...               ...
70383            4                 6
70384            4                 6
70385            4                 6
70386            4                 6
70387            3                 6

[70388 rows x 2 columns]

In [ ]:
query_to_df(S.query(Session.id,Structure.name).join(SessionProbe).join(Channel).join(Structure))

C:\Users\yoni.browning\Anaconda3\envs\allensdk\lib\site-packages\pandas\io\sql.py:1424: SAWarning: SELECT statement has a cartesian product between FROM element(s) "session", "session_probe", "channel" and FROM element "structure".  Apply join condition(s) between each element to resolve.
  return self.connectable.execution_options().execute(*args, **kwargs)