In [2]:
from allensdk.brain_observatory.ecephys.ecephys_project_cache import EcephysProjectCache
import os
from sqlalchemy import delete,insert
from sqlalchemy.orm import sessionmaker

import json
import numpy as np
import pandas as pd
from datetime import date,datetime,timedelta

from sqla_schema import *

import ingest

data_directory = 'C:\\Users\\yoni.browning\\Documents\\DataJoint\\AllenData'
manifest_path = os.path.join(data_directory, "manifest.json")

def query_to_df(Q):
    df = pd.read_sql(Q.statement, Q.session.bind)
    return df

def spike_count(start_trigger,end_trigger,spike_ts):
    count = [None]*len(start_trigger)
    for ii,trigger in enumerate(start_trigger):
        count[ii] = np.sum(np.logical_and(spike_ts>=trigger,spike_ts<end_trigger[ii]))
    return count

In [3]:
engine = ingest.connect_to_db()
S = sessionmaker(engine)()
Base.metadata.create_all(engine, tables=(TrialSpikeCount.__table__,))

In [ ]:
query_to_df(S.query(Session.id).join(SessionProbe).join(Channel).join(Unit.id.label("unit_id")).join(UnitSpikeTimes))

In [18]:
query_to_df(S.query(Session.id.label("session_id"),Unit.id.label("unit_id")).join(SessionProbe).join(Channel).join(Unit).join(UnitSpikeTimes,Unit.id==UnitSpikeTimes.unit_id))

      session_id    unit_id
0      721123822  950907205
1      721123822  950907209
2      721123822  950907216
3      721123822  950907220
4      721123822  950907222
...          ...        ...
2078   719161530  950958690
2079   719161530  950958817
2080   719161530  950958827
2081   719161530  950958904
2082   719161530  950958957

[2083 rows x 2 columns]

In [29]:
# Get the unique sessions for which we have spiketimes
unique_sessions = query_to_df(S.query(Session.id).\
            join(SessionProbe).\
            join(Channel).\
            join(Unit).\
            join(UnitSpikeTimes,Unit.id==UnitSpikeTimes.unit_id).group_by(Session.id)).values

array([[721123822],
       [719161530],
       [715093703]], dtype=int64)

In [102]:
def spike_count(start_trigger,end_trigger,spike_ts):
    count = [None]*len(start_trigger)
    for ii,trigger in enumerate(start_trigger):
        count[ii] = np.sum(np.logical_and(spike_ts>=trigger,spike_ts<end_trigger[ii]))
    return count

for ii,this_session in enumerate(unique_session):
    print('Session = ' + str(this_session[0]))
    stim_table = query_to_df(S.query(Session.id.label('session_id'),\
            StimulusPresentation.id.label("stimulus_id"),\
            StimulusPresentation.stop_time,\
            StimulusPresentation.start_time).\
            join(StimulusPresentation).filter(Session.id==int(this_session[0])))

    unit_table =  query_to_df(S.query(Session.id.label('session_id'),\
            Unit.id.label("unit_id"),\
            ).join(SessionProbe).\
            join(Channel).join(Unit).\
            join(UnitSpikeTimes,Unit.id==UnitSpikeTimes.unit_id).filter(Session.id==int(this_session[0])))


    duration = stim_table.stop_time-stim_table.start_time

    for ii,row in unit_table.iterrows():
        print('Unit  = ' + str(row.unit_id) + ' is ' +  str(ii) + ' of ' + str(len(unit_table)) ) 
        count = spike_count(stim_table.start_time,stim_table.stop_time,np.array(row.spike_times))
        this_df = pd.DataFrame(data = \
                               {'unit_id':row.unit_id,\
                                'spike_count':count,\
                                'spike_rate':np.divide(count,duration)})
        this_df.to_sql('TrialSpikeCount', engine, if_exists='append')
        S.commit()

SyntaxError: invalid syntax (Temp/ipykernel_17296/4002002013.py, line 25)

In [100]:
unit_table =  query_to_df(S.query(Session.id.label('session_id'),\
        Unit.id.label("unit_id"),\
        ).join(SessionProbe).\
        join(Channel).join(Unit).\
        join(UnitSpikeTimes,Unit.id==UnitSpikeTimes.unit_id).filter(Session.id==int(this_session[0])))

In [101]:
unit_table

     session_id    unit_id
0     715093703  950910352
1     715093703  950910364
2     715093703  950910371
3     715093703  950910392
4     715093703  950910435
..          ...        ...
879   715093703  950957270
880   715093703  950957282
881   715093703  950957295
882   715093703  950957320
883   715093703  950957408

[884 rows x 2 columns]