In [1]:
from django.db.models import *

In [2]:
from django_pandas.io import read_frame

In [3]:
q = UnitSpikeTimes.objects.filter(unit__channel__session_probe__session_id=715093703)
df = read_frame(q)
df.head()

,id,unit,spike_times
0,858,Unit object (950910352),"[29.223297243947066, 29.373130823217608, 29.64..."
1,807,Unit object (950910364),"[28.843563287317476, 28.881296682586495, 28.88..."
2,808,Unit object (950910371),"[28.828896596576865, 28.87829667766228, 28.906..."
3,859,Unit object (950910392),"[28.846729959181925, 28.863396653205342, 28.88..."
4,860,Unit object (950910435),"[28.826896593294055, 28.84202995146732, 28.847..."